body{
    background-color: black;
    background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2017-05/30/21/enhanced/buzzfeed-prod-fastlane-01/enhanced-14299-1496195086-7.png?output-format=jpg&output-quality=auto');
    background-size: cover;
    height: 100vh;
}

#DESCRIPCION{
    color: beige;
    margin: 10px;
}

#Derechos{
    color:beige;
    font-size: 20px;
}

#botones a {
    color: #947327; /* Verde brillante estilo Arrow */
    background-color: rgba(0,0,0,0.6); /* Fondo semitransparente */
    padding: 10px 25px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease; /* transición suave para hover */
    font-family: 'Segoe UI', Tahoma, sans-serif;
    box-shadow: 0 0 5px #cab518; /* resplandor leve */
    position: static;
}

#botones a:hover {
    background-color:#947327 #947327; /* cambia fondo a verde */
    color: #f8f3f3; /* texto negro al pasar el mouse */
    box-shadow: 0 0 15px #bba512; /* resplandor más fuerte */
}
#nombres{
    color:beige;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

main {
  display: flex;        /* Pone los hijos en fila */
  flex-wrap: wrap;      /* Para que bajen a otra línea si no entran */
  gap: 20px;            /* Espacio entre cada personaje */
  justify-content: center; /* Centra todo en la página */
}

.personaje {
  text-align: center;   /* Centra el nombre debajo de la imagen */
}

.temporada  {
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
  width: 30%;                /* ocupa 1/3 del contenedor */
  min-width: 250px;          /* asegura que no se achiquen demasiado */
  margin: 10px;              /* separa un poco */
  display: flex;
  flex-direction: column;    /* texto arriba, imagen abajo */
  align-items: center;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
}

/* 🔹 Bordes redondeados en imágenes */
.temporada img {
  border-radius: 20px;
  border: 3px solid black;
}

/* 🔹 Bordes en títulos */
.titulo {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family:'Playfair Display', serif;
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

nav ul {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si hay altura */
    list-style: none; /* Quita las viñetas */
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 20px; /* Espacio entre botones */
}


